NYTimes-BestSellers/Model/Config.swift
NYTimes-BestSellers.xcodeproj
.DS_Store
NYTimes-BestSellers.xcodeproj/project.xcworkspace/xcuserdata/farhana.xcuserdatad/UserInterfaceState.xcuserstate
NYTimes-BestSellers/NYTimes-BestSellers.xcodeproj/project.xcworkspace/xcuserdata/farhana.xcuserdatad/UserInterfaceState.xcuserstate
NYTimes-BestSellers/.DS_Store
NYTimes-BestSellers.xcodeproj/project.xcworkspace/xcuserdata/farhana.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
